<!-- This html page is responsible for describing about this website -->
{% extends "recipes/base.html" %}
 {% block content%}
      <legend class="border-bottom mb-4">About</legend>
   <div style="font-family:Verdana; font-size:16px; color:green;">
       <p> Hi everybody and Welcome! I am Shraddha owner of Fast & Furious Recipe's</p>
       <p> People can share and view the recipes within few clicks..</p>
       <p> Isn't it exciting?</p>
       <p> So don't wait just try using it :) </p>
   </div>
  {% endblock content%}

