<!-- This page is responsible for listing all the recipes created by authorized user of this website,
which has name, date posted and ingredients used in recipes -->

{% extends "recipes/base.html" %}
{% block content%}
  {% for recipe in recipes %}
     <article class="media content-section">
      <div class="media-body">
      <div class="article-metadata">
          <h3><a class="article-title" href="{% url 'recipes-detail' recipe.id %}"> Recipe: <font color = "green"> {{ recipe.title }}</font></a></h3>
            <p> <small class="text-muted"> Date Posted:  {{recipe.date_posted}} </small></p>
      </div>
          <h5>Ingredients: </h5> <p>  {{ recipe.ingredients}}</p>
      </div>
    </article>
  {% endfor %}

<!-- This div is responsible for pagination. 3 recipes are listed on one page according to this code snippet -->
<!-- Code reference: from tutorial https://www.youtube.com/watch?v=acOktTcTVEQ&index=11&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p -->
<div align="center">
  {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" style="text-align: center" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
</div>
{% endblock content%}
