
{% extends "recipes/base.html" %}
{% block content%}
  {% for recipe in recipes %}
     <article class="media content-section">
      <div class="media-body">
          <p style="color:brown;"> Ingredients: {{ recipe.ingredient1}}, {{ recipe.ingredient2}}, {{ recipe.ingredient3}}, {{ recipe.ingredient4}}, {{ recipe.ingredient5}}</p>
          <h2><a class="article-title" href="{% url 'recipes-detail' recipe.id %}"> {{ recipe.title }}</a></h2>
      </div>
    </article>
  {% endfor %}
{% endblock content%}
