{% extends "recipes/base.html" %}
{% block content %}
   <article class="media content-section">
      <div class="media-body">
          <p style="color:brown;"> Ingredients: {{ object.ingredients}}</p>
          <h2 class="article-title" href="#" > {{ object.title }}</h2>
          <p class="article-content">Procedure: {{ object.content }}</p>
        <div class="article-metadata">
          <p style="color:blue;"> Recipe by: {{object.author}}</p>
          {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'recipes-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'recipes-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
        </div>
      </div>
    </article>
{% endblock content %}