<!-- This page is responsible for displaying the details of recipe including: date posted, ingredients, procedure,
content, user who created this recipe -->

{% extends "recipes/base.html" %}
{% block content %}
   <article class="media content-section">
      <div class="media-body">
          <div class="article-metadata">
            <h3 class="article-title" href="#" > Recipe: <font color = "green"> {{ object.title }} </font></h3>
              <p> <small class="text-muted"> Date Posted:  {{object.date_posted}} </small></p>
          </div>
            <h5>Ingredients: </h5> <p>  {{ object.ingredients}}</p>

              <h5 class="article-content"> Procedure: </h5>
                  <p> {{ object.content }}</p>
              <h6 style="color:orange ; font-style:italic"> Recipe by:  {{object.author}} </h6>
              {% if object.author == user %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'recipes-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'recipes-delete' object.id %}">Delete</a>
              {% endif %}
          </div>
    </article>
{% endblock content %}